*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


/*=================================MAIN 1ST CONAINER===========================================*/
.main__container{
    /*border: 2px solid grey;*/        /*=====BORDER=====*/
    min-width: 968px;
    height: 100vh;
    background-image: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -60px;
    /* background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%); */

}

/*======================NAV BAR TOP==========================*/

.navbar__home{
    /* border: 2px solid #BB9981; */
    background: rgba(255, 255, 255, 0.816);
    display: flex;
    width: 100%;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

nav{
    /* display: flex; */
    /* flex-direction: column; */
    text-decoration: none;
    /* align-items: center; */
    justify-content: space-between;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 20px 50px;
}

nav ul li a{
    color: #534340;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover{
    color: #BB9981;
    transition: 0.3s;
}

nav.white ul{
    background: #BB9981;
}

/*======================SIDE BAR LINKS=======================*/
.firstlinks {
    /*border: 2px solid black;*/          /*=====BORDER=====*/
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.socials{
    /* color: #E1CEB5; */
    /* border: 1px solid pink; */
    color: #534340;
    text-decoration: none;
    padding-top: 5px;
    margin-bottom: 20px;
    transition: color 0.3s;
    transition: transform 0.3s;
    /* margin-right: 40px; */
    
}

.socials:hover {
    /* color: #9F8772; */
    color: #BB9981; 
    transform: scale(1.2);
    
}

.fill_svg{                        /*=========LEETCODE SVG===========*/
    /* color: #E1CEB5; */
    /* border: 1px solid pink; */
    /* color: #5F6F94; */
    fill: #534340;
    text-decoration: none;
    padding-top: 5px;
    margin-bottom: 20px;
    transition: color 0.3s;
    transition: transform 0.3s;
    /* margin-right: 40px; */
    
}

.fill_svg:hover {
    /* color: #9F8772; */
    fill: #BB9981;
    transform: scale(1.2);
    
}


/*==============================CONACT ME BTN==================================*/

         
/* .btn-grad {
    background-image: linear-gradient(to right, #4b6cb7 0%, #182848  51%, #4b6cb7  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    /*color: #fff;
    text-decoration: none;
  } */
 

.home__btn{
    /*border: 2px solid red;*/     /* =====BORDER===== */
    width: max-content;
    padding: 45px 0 0 0;
}

.first__btn{
    background-color: #534340;
    /* background-image: linear-gradient(to right, #F5D3C8 0%, #C08552  51%, #F5D3C8  100%); */
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px rgb(201, 201, 201);
    border: none;
    color: #fff;
    padding: 18px 24px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 6px;
    display: inline-flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.3s;
    cursor: pointer;
}

.first__btn i{
    padding-left: 10px;
}

.first__btn:hover {
    transform: scale(1.1);
    background-color: #BB9981;
    /* background-color: #BB9981;
    background-position: right center; */
}

/*========================================SCROLL DOWN =============================*/

.scroll{
    /*border: 2px solid orchid;*/      /*=====BORDER===== */
    width: max-content;
    padding: 5px 0;
    margin-top: 55px;      /*=====POSTION FROM TOP BTN=====*/
    margin-left: -5px;
    transition: 0.3s;   
}
.scroll img{
    cursor: pointer;
    margin-bottom: -5px;
    size: 48px;
}

.scroll__btn{
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    display: inline-block;
    display: inline-flex;
    padding: 10px 2px;
    border: none;
    border-radius: 6px;
    transition: 0.3s;
}

.scroll__btn:hover, .scroll__btn:visited, .scroll__btn:active {
    color: inherit;
    text-decoration: none;
}

.scroll:hover {
    transform: translate(0, -10px);
}


/*=====================BIG LOGO INTRO========================*/
.intro{
    /*border: 2px solid black;*/      /*=====BORDER===== */
    width: 30rem;
    height: 20rem;
    margin-left: 90px;
}

.intro p{
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 10px;
    padding-right: 50px;
}

.intro span{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.432);
}

.intro .one{
    font-size: 15px;
    font-weight: 500;
    padding: 20px 160px 0 0;
    color: gray;
}


.image__home{
    /*border: 2px solid gray;*/       /*=====BORDER=====*/
    width: 30rem;
    height: 20rem;
    margin-bottom: 100px;
    display: flex;
}

/*============Z INDEXED AVAN JOGIA=========*/

.avan__home{
    z-index: 2;
    position: relative;
}

/*==========COVER SIDE WHITE AVAN=========*/
.cover__side{
    /*border: 2px solid lightgoldenrodyellow;*/       /*=====BORDER=====*/
    
    z-index: 4;
    position: absolute;
    margin-top: 97px;
    margin-left: -101px;
    transition: transform 0.3s;
}

/* .cover__side:hover .avan__scale{          /*============!!!!!!!!!!!==========*//*
    transition: transform 0.3s;
    transform: scale(1.1);
} */

.avan__scale{
    /*border: 2px solid gold;*/            /*=====BORDER=====*/
    z-index: 3;
    position: absolute;
    transition: transform 0.3s;
}

.avan__scale:hover{
    transform: scale(1.1);
}

/*=================================MEDIA QUERY MAIN 1ST CONTAINER===================================*/

/*==========================================================================================*/
/*=================================================================================*/
/*========================================================================*/

/*==============================ABOUT ME===========================*/

.about__container{
    /*border: 2px solid grey;*/             /*=====BORDER=====*/
    min-width: 968px;
    height: 100vh;
    background-image: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.abt_one{
    /*border: 2px solid orange;*/            /*=====BORDER=====*/
    font-size: 44px;
    font-weight: 600;
    margin-top: 40px;
    text-align: center;
    
}

.abt_two{
    /*border: 2px solid orange;*/            /*=====BORDER=====*/
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.432);
}

.abt__block{
    /*border: 2px solid rgb(70, 70, 70);*/             /*=====BORDER=====*/
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.microsoft__image{
    /*border: 2px solid gold;*/            /*=====BORDER=====*/
    width: 30rem;
    height: 21rem;
    display: flex;
    margin-top: 80px;
}

.abt__img{
    border-radius: 10px;
    position: relative;
    box-shadow: 7px 7px 7px rgb(0, 0, 0, 0.2);
}

.info__resume{
    /*border: 0px solid gold;*/        /*=====BORDER=====*/
    width: 30rem;
    height: 21rem;
    margin-top: 80px;
}

.info__resume .one{
    font-size: 15px;
    font-weight: 500;
    padding-left: 50px;
    margin-top: -10px;
    color: gray;
}

.info__resume .exp{
    /* border: 0px solid burlywood; */
    display: inline-block;
    width: 8rem;
    height: 6rem;
    margin-top: 40px;
}
.info__resume .exp__one{
    /* border: 2px solid burlywood; */
    display: inline-block;
    width: 8rem;
    height: 6rem;
    margin-left: 10px;
}

.exp__one h3{
    font-size: 40px;
    font-weight: 600;
    text-align: center
}

.exp h3{
    font-size: 40px;
    font-weight: 600;
    text-align: center
}

.exp__one p{
    font-size: 15px;
    color: gray;
    padding-left: 40px;
    width: 100px;
}

.exp p{
    font-size: 15px;
    color: gray;
    padding-left: 20px;
    width: 100px;
    text-align: center;
}

.abt__btn{
    /*border: 2px solid red;*/    /*=====BORDER===== */
    width: max-content;
    padding: 45px 0 0 47px;
}

/*===================QUALIFICATION=================*/
.qulifications{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vh;
}

.qulifications p{
    margin-top: 7rem;
}

.kamakshi{
    border-radius: 14px;
}

/*================ FOOTER ===============*/
